body {
  background-color: #33CCFF;
	font-family: Arvo;
}

.main {
	width: 800px;
	height: 1000px;
	float: left;
	padding: 10px;
}

.title {
	text-align: center;
	background-color: #00FFFF;
	padding: 5px;
}

#nav {
	line-height: 30px;
	background-color: #FFFFCC;
	height: 1019px;
	width: 250px;
	float: left;
	padding: 5px;
}

#footer {
	background-color: orange;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}

.footnote {
	font-size: 8pt;
}

@font-face{
	font-family: EMonaco;
	src: url(../assets/fonts/MONACO.TTF);
}
