body {
  background-color: #33CCFF;
	font-family: Arvo;
}

.main {
	background-color: black;
	color: white;
	padding: 4px;
	float: left;
	width: 700px;
}

.title {
	background-color: #00FFFF;
}

#nav {
	background-color: #FFFFCC;
	height: 446px;
	width: 100px;
	float: left;
	padding: 5px;
}

